
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

:root {
	--lightAccent1: #91240c;
	--darkAccent1: #6d1d0a;
	--lightAccent2: #314185;
	--darkAccent2: #202d60;
	--background: white;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	overflow-x: hidden;
}

#lightbox {
	display: flex;
	position: fixed;
	background-color: #0004;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	z-index: 3;
}

#help {
	width: 50vw;
	height: 50vh;
	background-color: white;
	border-radius: 2.5vh;
	padding: 2.5vh;
}

#help div {
	margin-bottom: 2.5vh;
	font-size: 1.75vh;
}

#help div#help-title {
	font-size: 3vh;
}

header {
	position: fixed;
	height: 5vh;
	width: 100%;
	background-color: var(--lightAccent1);
	z-index: 2;
	box-shadow: 0 0 5px;
}

header div#title {
	display: inline-block;
	position: relative;
	left: 100px;
	color: white;
	font-size: 3vh;
	line-height: 5vh;
	width: fit-content;
}

header div#help-btn {
	display: inline-block;
	position: relative;
	float: right;
	right: 50px;
	color: white;
	line-height: 5vh;
	width: fit-content;
}

aside {
	height: 0;
}

#aside-bg {
	position: relative;
	height: 25vh;
	width: 100%;
	background-image: linear-gradient(#0004, #0004), radial-gradient(farthest-corner at 100% 100%, var(--lightAccent2), var(--lightAccent1));
}

.bar {
	display: flex;
	border-radius: 3px;
	border: 1px solid lightgrey;
	left: 50%;
	transform: translate(-50%, 0);
}

#searchbar {
	width: auto;
	position: absolute;
	top: calc(25vh - 8.5px - 2vmin);
	z-index: 1;
}

#searchbar > * {
	box-sizing: content-box;
	display: inline-block;
	padding: 2vmin;
	margin: 0;
	border: 1px solid white;
	height: 15px;
}

#searchtype {
	width: 80px;
	border-radius: 3px 0 0 3px;
	background-color: var(--lightAccent1);
	color: white;
	font-size: 2vh;
	line-height: 1.5vh;
}

#searchlist {
	position: relative;
	display: none;
	padding: 0;
	list-style-type: none;
	background-color: var(--darkAccent1);
	transform: translate(-2vmin, 0);
	color: white;
}

#searchlist li {
	padding: 1vmin 2vmin;
	font-size: 1.5vh;
	width: 80px;
}

#searchlist li:hover {
	background-color: var(--lightAccent1);
	text-decoration: underline;
}

#search {
	width: 40vw;
	border-radius: 0;
	background-color: white;
}

#search-btn {
	width: 40px;
	text-align: center;
	border-radius: 0 3px 3px 0;
	background-color: var(--lightAccent2);
	color: white;
	font-weight: bold;
	font-size: 2.5vmin;
	line-height: 0;
}

#search-btn:hover {
	background-color: var(--darkAccent2);
}

#apikey-bar {
	position: relative;
	top: 7.5vh;
	width: calc(45vw + 4vmin + 17px);
}

#apikey-bar > * {
	box-sizing: content-box;
	display: inline-block;
	padding: 1vmin;
	margin: 0;
	border: 1px solid white;
	height: 15px;
}

#apikey-btn {
	width: 15px;
	border-radius: 3px 0 0 3px;
	border-right: 1px solid lightgrey;
	text-align: center;
	background-color: var(--lightAccent2);
	color: white;
	font-weight: bold;
	font-size: 2.5vh;
	line-height: 1.5vh;
}

#apikey {
	width: 45vw;
}

#error {
	position: relative;
	display: none;
	width: calc(40vw + 8vmin + 19px);
	margin-bottom: 5vh;
	padding: 1vmin;
}

pre {
	white-space: pre-wrap;
}

main {
	box-sizing: border-box;
	position: relative;
	top: 35vh;
	width: 100vw;
	height: auto;
	margin-top: 2.5vh;
	padding: 5vh;
}

section {
	margin-bottom: 5vh;
	z-index: 1;
}

section div.section-heading {
	border: 1px solid #CCC;
	border-radius: 25px 25px 0 0;
	padding: 10px 20px;
	font-size: 1em;
}

section span.section-btn {
	font-weight: bold;
	font-size: 1em;
	padding: 10px;
}

section div.section-body {
	display: none;
	border: 1px solid #CCC;
	border-top-width: 0px;
	border-radius: 0 0 25px 25px;
	padding: 20px;
	overflow-x: auto;
}

section#profile-results span.profile-select-btn {
	display: inline-block;
	margin-bottom: 3px;
	padding: 3px 5px;
	background-color: var(--lightAccent1);
	border-radius: 5px 0 0 5px;
	border-right: 1px solid white;
	color: white;
	text-decoration: none;
	cursor: pointer;
}

section#profile-results span.profile-select-btn:hover {
	background-color: var(--darkAccent1);
}

section#profile-results span.profile-clear-btn {
	display: inline-block;
	margin-bottom: 3px;
	padding: 3px 5px;
	background-color: var(--lightAccent2);
	border-radius: 0 5px 5px 0;
	border-left: 1px solid white;
	color: white;
	text-decoration: none;
	cursor: pointer;
}

section#profile-results span.profile-clear-btn:hover {
	background-color: var(--darkAccent2);
}

section#profile-results span.profile-status {
	font-style: italic;
}

section#profile-results div#profile-results-body {
	max-height: 35vh;
	overflow: auto;
}

section#profile-results div#profile-results-body div.profile-results-item {
	font-size: 1.75vh;
	margin: 10px 0;
	padding: 5px 0 5px 10px;
	border-left: 0.1vh solid black;
}

.unfinished {
	color: #af0040;
}

section td {
	padding: 2px 10px 2px 2px;
	line-height: 0.9;
}

footer {
	position: fixed;
	width: 100%;
	height: 5vh;
	bottom: 0;
	z-index: 1;
	background-color: var(--lightAccent2);
	color: white;
	padding-left: 15px;
	line-height: 5vh;
}
